<!DOCTYPE html>
<head>
    <title>404</title>
    <style>
        body { text-align: center; padding: 150px; }
        h1 { font-size: 50px; }
        body { font: 20px Helvetica, sans-serif; color: #333; }
        article { display: block; text-align: left; width: 650px; margin: 0 auto; }
        a { color: #dc8100; text-decoration: none; }
        a:hover { color: #333; text-decoration: none; }
    </style>
</head>
<body>
    <article>
        <h1>404</h1>
        <div>
            <p>Sorry, you've hit the end of the internet :(</p>
        </div>
        <script>
            var e = <%=error%>; var m = <%=message%>; console.log(m); console.log(e); //this should probably give 'e' access to the serverside given error in dev mode. Perhaps they will be available even without exporting in this manner?
        </script>
    </article>
</body>
</html>
